.config-nav-block.iaba ._collapsible:before {
	background-image: url(../image/icon-iaba.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	top: 0px;
	vertical-align: middle;
}

#menu-iaba-core-core > a:before {
    content: url(../image/icon-core-iaba.png);
    margin-bottom: 5px;
    height: 30px;
}
#menu-iaba-core-core._active > a:before,
#menu-iaba-core-core > a:hover:before {
	filter: brightness(100);
}